 /* Create flex box */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#nav {
    font-size: 23pt;
    height: 10%;
}

#greeting-container {
    margin-bottom: 10px;
}

#home-img img {
    height: auto;
    max-width: 50%;
    width: auto;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}
