html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}


.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Garamond;
    font-size: 1.25em;
}

.top-image {
    background: url(../images/me.jpg) bottom no-repeat;
    background-size: cover;
    flex-shrink: 0;
    height: 70%;
    width: 100%;
}

.text-content {
    padding: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    /* background: red; */
}

.title-font {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

.footer {
    padding-bottom: 1.5em;
    text-align: center;
    width: 100%;
}


.custom-btn {
    border-radius: 0;
    border: 2px solid black;
    color: black;
}

#comments {
  font-weight: bold;
  text-align: left;
}

.comment {
  background: #E8E8ED;
  font-weight: normal;
  padding: .3em;
  padding-left: 1em;
  padding-right: 1em;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}
