 /* Create flex box */

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#beginner-content {
    text-align: center;
}

#greeting-container {
    margin-top: 20px;
}

/* Update to make image responsive with a max width */
#home_img {
    text-align: center;
}

#home_img img {
    height: auto;
    max-width: 70%;
    width: auto;

}
