 /* Create flex box */
body{
    background: url(images/bg.jpg) no-repeat;
    background-size: 100%;
    background-position-y: -110px;
    margin:0;
}

#container {
    background: red;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}